.addmembers-modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 22;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .addmembers-modal-container {
        height: 100px;
        width: 100px;
        background-color: aqua;
    }
}