$primary-color: rgb(122, 81, 156);

button {
    &:hover {
        cursor: pointer;
    }
}

.transparent-button {
    background: none;
    border-width: 0px;
}

.chat-members-modal {
    overflow-y: scroll;
    height: 450px;

    #members-hidden-button {
        display: none;
    }

    .chat-member-row {
        display: flex;
        flex-direction: row;
        padding: 8px;
        gap: 1em;
        img {
            width: 50px; 
            height: auto;
            border-radius: 50%;
        }
        button {
            @extend .transparent-button;
        }
        &:hover {
            background-color: rgb(238, 238, 238);
        }
        &.member-add {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.chat-settings-modal {
    display: flex;
    flex-direction: column;

    .chat-settings-modal-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        padding-bottom: 20px;

    }

    .chat-photo-settings-modal {
        align-self: center;
        height: 100px;
        width: 100px;
        position: relative;
        margin-bottom: 10px;

        img {
            grid-row: 1 /span 9;
            grid-column: 1 /span 9;
            width: 100px; // Set the width of the image
            height: auto;
            border-radius: 14px;
        }

        button {
            position: absolute;
            bottom: 0px;
            right: 0px;
            border-radius: 50%;
            border: 3px solid white;
            padding: 7px 6px 4px 8px;
            background-color: $primary-color;
            color: white;
            transition: all 0.3s ease;
            &:hover {
                background-color: rgb(108, 62, 146);
                color: white;
            }
            &:active {
                background-color: rgb(84, 44, 117);
                transform: scale(0.9);
            }
        }
    }

    .leave-chat-button {
        padding-top: 10px;
        align-self: center;

        button {
            border: 2px solid $primary-color;
            border-radius: 12px;
            padding: 10px;
            color: $primary-color;
            background-color: white;
            transition: all 0.3s ease;

            &:hover {
                background-color: $primary-color;
                color: white;
            }

            &:active {
                background-color: rgb(84, 44, 117);
                transform: scale(0.9);
            }
        }
    }
}

.chat-files-modal {
    @extend .chat-members-modal;

    .chat-file-row {
        @extend .chat-member-row;
        img {
            border-radius: 10px;
        }
        div  
        p {
            padding: 0px;
            margin: 0px;
            padding-bottom: 4px;
        }
        i {
            color: grey;
            font-weight: bold;
        }
        border-bottom: 1px solid black;
    }
}