.individual-dropdown-selection {
    p {
        overflow-wrap: anywhere;
    }

    img {
        height: 20px;
        width: 20px;
        border-radius: 12px;
    }

    border-radius: 4px;
    display: flex;
    padding-top: 3px;
    width: 116px;
    height: 30px;
    padding-bottom: 3px;
    flex-direction: row;
    font-size: 10px;
    position: relative;
    align-items: center;
    // justify-content: space-around;
    gap: 2px;
    background-color: white;
    border: 0.5px solid black;
    cursor: pointer;

    &:hover {
        background-color: #ececec;
    }

    svg {
        position: absolute;
        right: 1px;

        &:hover {
            color: rgb(181, 0, 0);
        }
    }
}


#added-members-to-section {
    // make this dynamic. holddd onnn
    display: grid;
    background-color: rgb(219, 219, 219);
    grid-template-rows: repeat(auto-fill, 35px);
    grid-template-columns: repeat(auto-fill, 120px);
    border-radius: 4px;
    gap: 1px;
    padding: 2px;
    // width: 366px;
    width: 126px;
}

.selection-options-added-members {
    background-color: rgb(179, 179, 179);
    display: flex;
    flex-direction: column;
    position: absolute;
    // left: 5px;
    border-radius: 4px;
    gap: 5px;
    top: 6px;
    width: 126px;
    max-height: 140px;
    padding: 5px;
    overflow-y: scroll;
    box-shadow: 0px 0px 6px rgb(0, 0, 0);

    &::-webkit-scrollbar {
        display: none;
        /* Width of the scrollbar */
    }
}