$primary-color: rgb(122, 81, 156);

.scrollbar {
    &::-webkit-scrollbar {
        width: 12px;
        /* Width of the scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        /* Background of the scrollbar track */
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        /* Background of the scrollbar thumb */
        border-radius: 6px;
        /* Rounded corners for the scrollbar thumb */
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
        /* Background of the scrollbar thumb when hovered */
    }

    // Firefox styles
    scrollbar-width: thin;
    /* Makes the scrollbar thinner */
    scrollbar-color: #888 #f1f1f1;
    /* Scrollbar thumb color and track color */

    &:hover {
        scrollbar-color: #555 #f1f1f1;
        /* Scrollbar thumb color when hovered */
    }

    /* Ensure padding and border are included in the width */
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-429px);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(425px);
    }

    to {
        transform: translateX(0);
    }
}


@keyframes locationOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(429px);
    }
}

@keyframes postsIn {
    from {
        transform: translateX(-429px);
    }

    to {
        transform: translateX(0);
    }
}


.isIn {
    display: block;
}

.isOut {
    display: none;
}

.LOCATION_OUT_ANIM {
    animation: locationOut 0.3s;

}

.POSTS_IN_TRANSITION {
    animation: postsIn 0.3s;
}

.testAnimIn {
    display: block;
    animation: slideIn 0.3s;
}

.testAnim {
    animation: slideOut 0.3s;
}

#create-a-post-modal-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 22;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.315);
    padding: 0px;
    margin: 0px;

    // implement over flow stuff
    #create-a-post-modal {
        min-height: 100px;
        max-height: 500px;
        width: 425px;
        max-width: 425px;
        background-color: white;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin: 10px;
        box-sizing: border-box;
        position: relative;
        max-height: 430px;
        overflow-y: scroll;
        overflow-x: hidden;
        ////////////////////////////////// SCROLLBAR      /////////////////////////////////////////
        @extend .scrollbar;


        #create-a-post-header {
            display: flex;
            flex-direction: column;
            height: 40px;
            align-items: center;
            justify-content: center;
            position: sticky;
            top: 0;
            background-color: white;
            border-bottom: 1px solid black;
            padding-bottom: 5px;
            z-index: 10;

            button {
                position: absolute;
                right: 20px;
                top: 6px;
                background-color: rgb(230, 230, 230);
                border-width: 0px;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: gray;

                &:hover {
                    background-color: rgb(207, 207, 207);
                    color: rgb(109, 109, 109);
                }
            }
        }

        #text-area-wrapper {
            display: flex;
            flex-direction: row;
            overflow-x: hidden;
            width: 850px;
            overflow-y: scroll;
            height: 100%;
            position: relative;


            #text-area {
                padding: 10px;
                width: 420px;
                overflow-y: scroll;

                textarea {
                    width: 90%;
                    overflow-y: hidden;
                    resize: none;
                    outline: none;
                    border-width: 0px;
                }

                .store-file {
                    position: relative;

                    .store-file-header {
                        display: block;
                        position: absolute;
                        top: 0;
                        height: 40px;
                        width: 100%;
                        background-color: rgba(255, 0, 0, 0.461);
                    }

                }
            }

            #location-area {
                height: 400px;
                width: 360px;
                margin-left: 32px;
                background-color: red;
                display: flex;
                flex-direction: column;
                align-items: center;

                #autocomplete {
                    position: relative;
                }

                #location-text-input {
                    width: 300px;
                    border-width: 0px;
                    height: 20px;
                    border-radius: 10px;
                    border: 1px solid gray;
                    padding: 10px;
                    background-color: #dadada;
                }

                .suggested-loc {
                    background-color: white;
                    width: 300px;
                    padding: 10px;
                    border-radius: 8px;
                    margin: 4px;
                    transition: background-color 0.3s ease;
                    &:hover {
                        background-color: rgb(201, 201, 201);
                        cursor: pointer;
                    }
                    &:active {
                        background-color: green;
                    }
                }

            }
        }


        #bottom-section {
            display: flex;
            flex-direction: column;
            position: sticky;
            bottom: 0;
            background-color: white;

            #add-to-post-section {
                align-self: center;
                height: 50px;
                width: 90%;
                border: 1px solid gray;
                border-radius: 15px;
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.514);
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                #add-to-post-buttons {
                    display: flex;
                    flex-direction: row;
                    gap: 3px;

                    button {
                        color: $primary-color;
                    }

                    svg {
                        &:hover {
                            color: rgb(84, 31, 128);
                            cursor: pointer;
                        }
                    }
                }
            }

            #post-button {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 10px;
                position: relative;
                bottom: 0;

                button {
                    width: 100%;
                    background-color: rgb(0, 102, 255);
                    color: white;
                    border-width: 0px;
                    border-radius: 9px;
                    height: 34px;

                    &:hover {
                        background-color: rgb(6, 56, 130);
                    }
                }
            }
        }
    }
}