::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Styles the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
}

/* Optional: Set the scrollbar width */
::-webkit-scrollbar {
    width: 6px; /* Width of the vertical scrollbar */
    height: 7px; /* Height of the horizontal scrollbar */
}

#create-a-run-modal-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 22;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.315);
    padding: 0px;
    margin: 0px;

    // implement over flow stuff
    #create-a-run-modal {
        height: 440px;
        width: 425px;
        max-width: 425px;
        background-color: white;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin: 10px;
        box-sizing: border-box;
        position: relative;
        max-height: 430px;
        overflow-x: hidden;
      
        ////////////////////////////////// SCROLLBAR      /////////////////////////////////////////
        #create-a-run-header {
            display: flex;
            flex-direction: column;
            height: 40px;
            align-items: center;
            justify-content: center;
            position: sticky;
            top: 0;
            background-color: white;
            border-bottom: 1px solid black;
            padding-bottom: 7px;
            z-index: 10;

            h2 {
                font-size: 25px;
            }

            button {
                position: absolute;
                right: 20px;
                top: 2px;
                background-color: rgb(230, 230, 230);
                border-width: 0px;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: gray;

                &:hover {
                    background-color: rgb(207, 207, 207);
                    color: rgb(109, 109, 109);
                }
            }
        }

        #create-run-content {
            display: flex;
            flex-direction: column;
            padding: 12px;
            width: 92%;
            gap: 15px;


            .create-run-content-section {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 9px;

                label {
                    font-weight: 550;
                }

                input {
                    border-width: 0;
                    outline-width: 0;
                    background-color: #e4e4e4;
                    border-radius: 5px;
                    padding: 5px;
                }

                .selection-options-dropdown {
                    background-color: rgb(194, 194, 194);
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    left: 150px;
                    border-radius: 12px;
                    gap:5px;
                    top: 50px;
                    width: 200px;
                    max-height: 140px;
                    padding: 5px;
                    overflow-y: scroll;
                    &::-webkit-scrollbar {
                        display: none;
                        /* Width of the scrollbar */
                    }
                    
                }
            }
        }
    }
}

// will reuse this in diff places
.individual-dropdown-selection {
    p{
        overflow-wrap: anywhere;
    }
    img {
        height: 20px;
        width: 20px;
        border-radius: 12px;
    }
    border-radius: 5px;
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;
    flex-direction: row;
    align-items: center;
    padding-left: 7px;
    gap: 2px;
    background-color: white;
    border: 0.5px solid black;
    cursor: pointer;
    &:hover {
        background-color: #ececec;
    }
}

.editable-friends-to-invite-div {
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    background-color: #e4e4e4;
    border-width: 0;
    font-size: 12px;
    outline-width: 0;
}