#create-a-run-modal-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 22;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.315);
    padding: 0px;
    margin: 0px;

    // implement over flow stuff
    #create-a-run-modal {
        height: 400px;
        width: 425px;
        max-width: 425px;
        background-color: white;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin: 10px;
        box-sizing: border-box;
        position: relative;
        max-height: 430px;
        overflow-x: hidden;

        ////////////////////////////////// SCROLLBAR      /////////////////////////////////////////
        #create-a-run-header {
            display: flex;
            flex-direction: column;
            height: 40px;
            align-items: center;
            justify-content: center;
            position: sticky;
            top: 0;
            background-color: white;
            border-bottom: 1px solid black;
            padding-bottom: 5px;
            z-index: 10;

            button {
                position: absolute;
                right: 20px;
                top: 6px;
                background-color: rgb(230, 230, 230);
                border-width: 0px;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: gray;

                &:hover {
                    background-color: rgb(207, 207, 207);
                    color: rgb(109, 109, 109);
                }
            }
        }

        #create-run-content {
            display: flex;
            flex-direction: column;
            padding: 12px;
            width: 80%;
            gap: 15px;

            .create-run-content-section {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 9px;
              
            }
        }
    }
}