@keyframes openModal {
    from {
        opacity: .6;
        height: 390px;
        width: 390px;
    }

    to {
        height: 400px;
        width: 400px;
        opacity: 1;
    }
}

.open-modal {
    animation: openModal 0.4s ease-in-out 0s 1 normal none;
}

#make-a-vote-modal-container { 
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 22;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.315);
    padding: 0px;
    margin: 0px;
    #make-a-vote-modal {
        height: 400px;
        width:450px;
        border-radius: 14px;
        background-color: white;
        display: flex;
        flex-direction: row;
        #step-of-vote {
            width:320px;
            display: flex;
            flex-direction: row;
            overflow-x: hidden;
            position: relative;
          
        }


    }
}