#notification-modal-container {
    width: 360px;
    max-height: 370px;
    background-color: white;
    border-radius: 14px;
    padding: 12px;
    position: relative;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    p{
        overflow-wrap: anywhere;
    }
    #close-notification-modal-button {
        position: absolute;
        right: 12px;
        cursor: pointer;
    }
    #notification-modal-see-profile-button {
        background-color: rgb(220, 235, 255);
        color: rgb(0, 60, 189);
        padding: 6px;
        border-radius: 6px;
        cursor: pointer;
    }
    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px;
        padding: 6px;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.08);
        }
    }
    #reject-button {
        background-color: rgb(255, 220, 220);
        color: rgb(189, 0, 0);
    }
    #accept-button {
        background-color: rgb(231, 255, 220);
        color: rgb(0, 189, 9);
    }
}