#notification-screen {
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    box-sizing: border-box;


    #notifications-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        // gap: 15px;
        overflow-y: scroll;
        height: 100%;
        box-sizing: border-box;
        padding-bottom: 100px;
        background-color: rgb(233, 233, 233);

        .single-notification {
            p{
                overflow-wrap: anywhere;
            }
            display: flex;
            flex-direction: row;
            margin: 15px;
            box-sizing: border-box;
            background-color: rgb(255, 255, 255);
            width: 400px;
            border-radius: 14px;
            padding: 8px;
            gap: 16px;
            align-items: center;
            border: 1px solid black;

            .link {
                background-color: rgb(255, 216, 216);
                padding: 5px;
                border-radius: 9px;
            }
            .notication-type-icon {
                background: none;
                border-width: 0px;
                position: relative;
                .notification-bubble {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 8px;
                    height: 8px;
                    background-color: red;
                    border-radius: 14px;
                }
            }

            // notification content indie styles
            .chat-invitation-content {
                p {
                    font-size: 12px;
                }
            }
            .post-comment-content {
                display: flex;
                flex-direction: column;
                P{
                    margin: 0;
                }
            }
        }
    }
}