.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-y: scroll;

    .create-a-post {
        background-color: black;
        color: white;
        width: 600px;
        margin-top: 10px;
        border-radius: 10px;

    }


    .feed-post-container {
        width: 600px;
        // height depends on whats in it but has a max
        background-color: black;
        color: white;
        margin: 10px;
        border-radius: 10px;

        .feed-post-info {
            display: flex;
            flex-direction: row;
            padding: 7px;

            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

            gap: 0.5em;
            border-bottom:1px solid white;
        }

        .feed-post-content {
            padding: 10px;
            border-bottom: 1px solid white;

            #read-more-post {
                cursor: pointer;
            }
        }

        .feed-post-likes-and-comments {
            width: 20%;
            padding: 8px;
            display: flex;
            justify-content: space-around;

            button {
                background: none;
                border-width: 0px;
                color: white;

                &.liked {
                    color: red;
                }
            }
        }


    }
}