.single-post-run-view {
    width: 98%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(109, 109, 109);
    background-color: rgb(107, 107, 107);
    border-radius: 9px;
  
        color: white;
    

    .single-post-run-view-wrap{
        padding: 10px;
        box-sizing: border-box;
        color: white;
        // background-color: aliceblue;
      
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
        // color: black;
    }
    .single-post-run-view-loca {
        color: white;

        font-size: smaller;
    }
    .single-post-run-view-time {
        color: white;

        font-size: smaller;
        color: rgb(110, 110, 110);

    }
}