$lightgrey: rgb(233, 233, 233);

#searchbar {
    background-color: rgb(49, 49, 49);
    padding: 9px;
    color: white;
    border-radius: 9px;
    display: flex;
    width: 440px;
    flex-direction: column;
    position: absolute;
    top: 100px;

    input {
        background: none;
        outline: none;
        border: none;
        flex-grow: 1;
    }
}

#search-results-screen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightgrey;

    #search-results-container {
        margin-top: 20px;
        max-width: 600px;
        overflow-wrap: anywhere;
        display: flex;
        flex-direction: column;
//CENTER STUFF
        h1 {
            align-self: center;
            font-size: 24px;
            font-weight: bold;
        }

        #search-results-people-locations-toggler {
            p {
                font-size: large;
                cursor: pointer;
                &.selected {
                    border-bottom: 1.5px solid rgb(135, 0, 245);
                }
            }

            align-self: center;
            width: 250px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
        #person-search-results-container {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 615px;
            margin-top: 20px;
            .profile-search-result-card {
                width: 98%;
                height: 80px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: white;
                border-radius: 9px;
                border: 1px solid gray;
                align-items: center;
                padding-left: 10px;
                padding-right: 10px;

                .person-search-result-sec-one {
                    display: flex;
                    flex-direction: row; 
                    align-items: center;
                    gap: 10px;
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 29px;
                    }
                    p {
                        cursor: pointer;
                        font-weight: bold;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .person-search-result-add-friend-button {
                    background-color: rgb(207, 233, 255);
                    padding: 9px;
                    border-radius: 6px;
                    color: rgb(0, 69, 173);
                }
            }
        }
    }

}