body {
    background:white no-repeat center center fixed;
}

.sidebar-container {
    background-color: white;
    height: 100vh;
    position: absolute;
    width: 20%;
    z-index: 1;
    overflow-y: scroll;

    .chat-row {
        height: 60px;
        background-color: rgb(233, 233, 233);
        border-top: 1px solid black;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        div {
            background-color:  white;
        }
        p {
            overflow-wrap: anywhere;
        }
    }
}