@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body {
    font-family: 'Montserrat', sans-serif;
}

$primary-color: rgb(122, 81, 156);
$highlight-color: rgba(255, 255, 255, 0.5);
$shadow-color: rgba(0, 0, 0, 0.4);

#auth-background {
    position: absolute;
    filter: blur(15px);
    /* Adjust the blur intensity */
    background: url('../../white-background.jpeg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.signup-card {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    color: black;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 500px;
    border-radius: 9px;
    box-shadow: 0 7px 14px $shadow-color;
    position: relative;

    #inputwrapper {
        width: 80%;
        display: grid;
        grid-template-rows: repeat(auto-fit, 1fr);
        // justify-content: center;
        gap: 8px;
    }

    h1 {
        font-size: 19px;
    }

    p {
        font-size: 13px;

        // align-self: flex-start;
        // padding-left: 33px;
        color: rgb(161, 161, 161);
    }

    // .bottom-text {
    //     align-self: center;
    //     // color: red;
    // }

    span {
        color: $primary-color;

        &:hover {
            cursor: pointer;
        }
    }
}

.login-card {
    @extend .signup-card;
    height: 400px;

}

.signup-input {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    transition: outline 0.3s ease;
    border: 1px solid rgb(177, 177, 177);
    color: rgb(155, 155, 155);
    font-size: 12px;
    &:focus {
        outline: 2px solid #0e76ff;
        outline-offset: -2px;
    }

    &::placeholder {
        color: rgb(117, 117, 117);
    }
}


.auth-continue-button {
    width: 100%;
    padding: 7px;
    // margin: 12px;
    border: 0;
    font-size: 12px;
    border-radius: 5px;
    background-color: $primary-color;
    color: aliceblue;

}